* {
    box-sizing: border-box;
    text-decoration: none;
}

body{
	opacity: 1;
	color: black;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background: linear-gradient(to right, #E58338 8.33%, #389AE5 91.66%);
}


ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
    text-align: center;
    background: linear-gradient(to left, #389AE5 8.33%, #E58338 91.66%);
    grid-column: 1/-1;
    grid-row: 0/1;
}

#P {
    position: sticky;
    top: 12vh;
    left: -10.33vw;
    text-align: center;
    width: 8.33vw;
    height: 82.33vh;
}

nav {
    grid-row: 2/11;
    grid-column: 1/2;
}

#one {
    padding: 1.166vh 1.166vw 3.15vh 1.166vw;
}

#two {
    padding: 1.166vh 1.166vw 3.15vh 1.166vw;
}

nav a {
    padding: 1.2vh 1.4vw 1.2vh 1.4vw;
    margin: 1vh 0vw 1vh 0vw;
    border-radius: 10px;
    background-color: #389AE5;
    transition: .5s;
    color: black;
    font-size: 1rem;
}

nav a:hover {
    padding: 1.5vh 1.75vw 1.5vh 1.75vw;
    font-size: 1.3rem;
}

main {
    background-color: antiquewhite;   
    grid-row: 2/12;
    grid-column: 2/12;
    width: 89vw;
}

main div {
    background: linear-gradient(to bottom, #389ae556 8.33%, #E583382f 91.66%);
    font-size: 1rem;
    width: 89vw;
    padding: 1.166vh 1.166vw 3.15vh 1.166vw;
}

.small {
    height: 78vh;
}

footer {
    background: linear-gradient(to left, #389AE5 8.33%, #E58338 91.66%);
    grid-column: 1/-1;
    grid-row: 12/12;
    margin: 1vh 1vw;
}